@font-face {
  font-family: 'Whyte Inktrap';
  src: url('../fonts/WhyteInktrap-Bold.eot');
  src: local('../fonts/Whyte Inktrap Bold'), local('../fonts/WhyteInktrap-Bold'),
  url('../fonts/WhyteInktrap-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WhyteInktrap-Bold.woff2') format('woff2'),
  url('../fonts/WhyteInktrap-Bold.woff') format('woff'),
  url('../fonts/WhyteInktrap-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('../fonts/WhyteInktrap-Black.eot');
  src: local('../fonts/Whyte Inktrap Black'), local('../fonts/WhyteInktrap-Black'),
  url('../fonts/WhyteInktrap-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WhyteInktrap-Black.woff2') format('woff2'),
  url('../fonts/WhyteInktrap-Black.woff') format('woff'),
  url('../fonts/WhyteInktrap-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('../fonts/WhyteInktrap-Medium.eot');
  src: local('../fonts/Whyte Inktrap Medium'), local('../fonts/WhyteInktrap-Medium'),
  url('../fonts/WhyteInktrap-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WhyteInktrap-Medium.woff2') format('woff2'),
  url('../fonts/WhyteInktrap-Medium.woff') format('woff'),
  url('../fonts/WhyteInktrap-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url('../fonts/WhyteInktrap-Light.eot');
  src: local('../fonts/Whyte Inktrap Light'), local('../fonts/WhyteInktrap-Light'),
  url('../fonts/WhyteInktrap-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WhyteInktrap-Light.woff2') format('woff2'),
  url('../fonts/WhyteInktrap-Light.woff') format('woff'),
  url('../fonts/WhyteInktrap-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'nft';
  src:  url('../fonts/icon/nft.eot?r26sp8');
  src:  url('../fonts/icon/nft.eot?r26sp8#iefix') format('embedded-opentype'),
  url('../fonts/icon/nft.ttf?r26sp8') format('truetype'),
  url('../fonts/icon/nft.woff?r26sp8') format('woff'),
  url('../fonts/icon/nft.svg?r26sp8#nft') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nft' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-instagram:before {
  content: "\e901";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-verified:before {
  content: "\e902";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-picture:before {
  content: "\e903";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-play:before {
  content: "\e904";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-shopping-bag:before {
  content: "\e905";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-telegram:before {
  content: "\e906";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-tiktok:before {
  content: "\e907";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-triangle:before {
  content: "\e908";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-wallet:before {
  content: "\e909";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-youtube:before {
  content: "\e90a";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-twitter:before {
  content: "\e90b";
  background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
