@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Whyte Inktrap';
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1201;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	background: linear-gradient(90.71deg, #5B68DF 0%, #73E0A9 100%);
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-image: url("../img/wrap-bg.png");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.hero {
	background: rgba(31, 29, 43, 0.4);
	.hero__container{
		display: flex;
		flex-direction: column;
		padding: 220px 0 42px;
		.hero__description {
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #FFFFFF;
			opacity: 0.5;
			margin-bottom: 20px;
		}
		.hero__title {
			font-weight: 700;
			font-size: 36px;
			line-height: 52px;
			color: #fff;
			margin-bottom: 64px;
		}
		.hero__btns {
			margin-bottom: 154px;
			.btn__create,
			.btn__explore {
				color: #fff;
				font-weight: 700;
				font-size: 20px;
				line-height: 29px;
				padding: 13px 67px;
				border-radius: 90px;
				border: 1px solid #5B68DF;
				margin-right: 40px;
			}
			.btn__create {
				background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
				margin-right: 0;
			}
		}
		.video_text {
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #fff;
		}
		.icon-play {
			font-size: 16px;
			&:before {
				content: "\e904";
				background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				margin-right: 12px;


			}
		}
	}
}


@media (max-width: 767px) {
	.hero {
		.hero__container {
			padding: 50px 42px;
		}
	}
}

@media (max-width: 550px) {
	.hero{
		.hero__container {
			.hero__title {
				font-size: 28px;
				line-height: 43px;
				margin-bottom: 32px;
			}
			.hero__btns {
				margin-bottom: 50px;
				.btn__create,
				.btn__explore {
					padding: 13px 30px;
					margin-right: 20px;
				}
				.btn__create {
					margin-right: 0;
				}
			}
		}
	}

}