@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Whyte Inktrap';
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1201;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	background: linear-gradient(90.71deg, #5B68DF 0%, #73E0A9 100%);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-image: url("../img/wrap-bg.png");
	box-shadow: 170px 150px 298px 110px rgba(0,0,0,0.25) inset, -170px -9px 298px 110px rgba(0,0,0,0.25) inset;
	background-position: top right;
	background-repeat: no-repeat;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.hero {
	background: rgba(31, 29, 43, 0.4);
	.hero__container{
		display: flex;
		flex-direction: column;
		padding: 220px 5% 42px;
		.hero__description {
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: rgba(255,255,255, 0.5);
			margin-bottom: 20px;
			// animation
			transform: translate(-500%, 0);
			&.active {
				transform: translate(0, 0);
				transition: all 0.8s ease 0.3s;
			}
		}
		.hero__title {
			font-weight: 700;
			font-size: 36px;
			line-height: 52px;
			color: #fff;
			margin-bottom: 64px;
			transform: scale(0);
			transition: all 0.6s ease;
			&.active {
				transform: scale(1);
			}
		}
		.hero__btns {
			margin-bottom: 154px;
			transform: translate(500%, 0);
			&.active {
				transform: translate(0, 0);
				transition: all 0.6s ease 0.5s;
			}
			.btn__create,
			.btn__explore {
				color: #fff;
				font-weight: 700;
				font-size: 20px;
				line-height: 29px;
				padding: 13px 67px;
				border-radius: 90px;
				border: 1px solid #5B68DF;
				margin-right: 40px;
			}
			.btn__create {
				background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
				margin-right: 0;
			}
		}
		.video_text {
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #fff;
		}
		.icon-play {
			font-size: 16px;
			&:before {
				content: "\e904";
				background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				margin-right: 12px;
			}
		}
	}
}

.games {
	background: rgba(31, 29, 43, 0.4);
	.games__container {
		display: flex;
		flex-direction: column;
		padding: 24px 5% 128px;
		.games__heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 24px 0;
			.heading__title {
				font-weight: 700;
				font-size: 36px;
				line-height: 52px;
				color: #fff;
				text-transform: capitalize;
			}
			.heading__link {
				font-weight: 700;
				font-size: 14px;
				line-height: 20px;
				background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

		}
		.games__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.games__item {
				width: 25%;
				display: flex;
				align-items: center;
				flex-direction: column;
				padding: 12px 17px;
				border: 1px solid #5B68DF;
				border-radius: 35.0246px;
				// animation
				transform: translate( 500%, 0px);
				transition: 0.3s all;
				&.active {
					transform: translate( 0px, 0px);
					&:nth-child(1) {
						transition: all 0.8s ease 0s;
					}
					&:nth-child(2) {
						transition: all 0.8s ease 0.2s;
					}
					&:nth-child(3) {
						transition: all 0.8s ease 0.4s;
					}
				}
				.item__images {
					display: flex;
					flex-direction: column;
					position: relative;
					margin-bottom: 51px;

					.item__img {
						position: relative;
						width: 100%;
						height: auto;
					}
					.item__logo {
						position: absolute;
						top: 90%;
						left: 40%;
						width: 57px;
						height: 57px;
						border-radius: 50%;
						background-image: url("../img/game-logo1.png");
						background-size: cover;
						background-repeat: no-repeat;
					}
				}
				.item__name {
					font-weight: 700;
					font-size: 16px;
					line-height: 23px;
					color: #fff;
				}
				.item__author {
					font-weight: 300;
					font-size: 14px;
					line-height: 20px;
					color: #fff;

					span {
						background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				.item__description {
					font-weight: 300;
					font-size: 14px;
					line-height: 20px;
					text-align: justify;
					margin-top: 12px;
					color: #fff;
				}
			}
			.games__item:nth-child(2){
				box-shadow: -31px -69px 165px 136px rgba(91,104,223,0.3);
				background-color: rgba(91,104,223,0.3);
				.item__images {
					.item__logo {
						background-image: url("../img/game-logo2.png");
					}
				}
			}
			.games__item:last-child{
				box-shadow: 174px -15px 400px 60px rgba(0,0,0,0.2), -174px 15px 300px 60px rgba(0,0,0,0.2) inset;

				.item__images {
					.item__logo {
						background-image: url("../img/game-logo3.png");
					}
				}
			}
		}
	}
}
.instruction {
	padding: 76px 5%;
	//background:  rgba(31, 29, 43, 0.4);
	background-color: rgba(0,0,0,0.4);
	//backdrop-filter: blur(400px);
	.instruction__container {
		display: flex;
		flex-direction: column;
		align-items: start;

		.instruction__title {
			font-weight: 700;
			font-size: 36px;
			line-height: 52px;
			color: #fff;
		}
		.instruction__list{
			display: flex;
			justify-content: space-between;
			padding: 90px 0 75px;

			.instruction__item {
				width: 20%;
				display: flex;
				align-items: center;
				flex-direction: column;
				// animation
				transform: scale(0);
				transition: 0.3s all;
				&.active {
					transform: scale(1);
					&:nth-child(1) {
						transition: all 0.8s ease 0s;
					}
					&:nth-child(2) {
						transition: all 0.8s ease 0.2s;
					}
					&:nth-child(3) {
						transition: all 0.8s ease 0.4s;
					}
				}
				.item__img {
					font-size: 64px;
				}
				.item__title {
					font-weight: 700;
					font-size: 16px;
					line-height: 23px;
					color: #fff;
					margin: 12px 0;
				}
				.item__description {
					font-weight: 300;
					font-size: 14px;
					line-height: 20px;
					text-align: justify;
					color: #fff;
					a {
						background-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}
	}
}
.video	{
	padding: 116px 10% 128px;
	background: rgba(31, 29, 43, 0.4);
	text-align: center;
	.video__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.video__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 52px;
		color: #fff;
		margin: 0 0 8px 0;
		z-index: 1;
	}
	.video__description {
		font-weight: 400;
		font-size: 20px;
		line-height: 29px;
		background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		z-index: 1;
	}
	.video__content {
		margin: 54px auto;
		position: relative;
		width: 80%;
		&:before {
			content: "";
			display: block;
			padding-top: 56.25%;
		}
		.nft__video {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			box-shadow:  198px 127px 218px 80px rgba(115,224,169,0.4), -198px -127px 218px 80px rgba(91,104,223,0.4);
			// animation
			transform: translate(-500%, 0);
			transition: all 0.8s ease;
			&.active {
				transform: translate(0, 0);
			}
		}
	}
	.video__btn {
		color: #fff;
		font-weight: 700;
		font-size: 20px;
		line-height: 29px;
		padding: 13px 67px;
		border-radius: 90px;
		border: 1px solid #5B68DF;
		background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
		cursor: pointer;
		z-index: 1;
	}
}

@media  (max-width: 1213px) {
	.games {
		.games__container {
			padding: 24px 0 128px;
			.games__body {
				.games__item {
					width: 32%;
				}
			}
		}
	}
}
@media  (max-width: 1001px) {
	.instruction {
		.instruction__container {
			.instruction__list {
				flex-wrap: wrap;
				.instruction__item {
					width: 45%;
					margin-top: 30px;
					&:first-child, &:nth-child(2) {
						margin-top: 0;
					}
					.item__title {
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.hero {
		.hero__container {
			padding: 50px 42px;
		}
	}
	.games {
		padding: 0 10%;
		.games__container {
			.games__body {
				flex-direction: column;
				.games__item {
					width: 100%;
					margin-top: 15px;
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
	.instruction {
		padding: 10%;
		.instruction__container {
			.instruction__title {
				font-size: 28px;
				line-height: 30px;
				align-self: center;
				text-align: center;
			}
			.instruction__list {
				flex-direction: column;
				padding: 40px 0 35px;
				.instruction__item {
					width: 100%;
					margin-top: 20px;
					&:first-child {
						margin-top: 0;
					}
					&:nth-child(2) {
						margin-top: 20px;
					}
					.item__title {
						font-size: 16px;
						line-height: 23px;
					}
				}
			}
		}
	}
	.video {
		padding: 10%;
		.video__title {
			font-size: 28px;
			line-height: 30px;
		}
		.video__content {
			margin: 24px auto;
		}
		.video__btn {
			padding: 13px 10%;
			line-height: 100%;
			font-size: 16px;
		}
	}
}

@media (max-width: 550px) {
	.hero{
		.hero__container {
			.hero__title {
				font-size: 28px;
				line-height: 43px;
				margin-bottom: 32px;
			}
			.hero__btns {
				margin-bottom: 50px;
				.btn__create,
				.btn__explore {
					padding: 13px 30px;
					margin-right: 20px;
				}
				.btn__create {
					margin-right: 0;
				}
			}
		}
	}
	.games {
		.games__container {
			.games__heading {
				.heading__title {
					font-size: 28px;
				}
			}
		}
	}
	.video {
		.video__content {
			width: 100%;
		}
	}
}